body {
    font-family: "Verdana", sans-serif;
    margin: 35px;
    background-color: #f9f7f5;
}

.post {
    margin: 0 0 20px;
    background: white;
    border-radius: 2px;
    box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    padding: 15px 15px 5px 15px;
}

.post-header {
    margin: 0 0 15px;
}

.post-title {
    font-size: 30px;
    margin: 0 0 10px;
}

.post-meta {
    list-style: none;
    padding: 0;
    margin: 0;
    opacity: .7;
    color: #000;
    font-weight: 600;
}

.post-meta > li {
    display: inline-block;
    margin-right: 30px;
    font-size: 14px;
}

.post-content p {
    line-height: 24px;
    font-size: 15px;
}

.post .post-meta a,
.post-meta a {
    transition: all 0.5s;
}

a,
a:hover {
    text-decoration: none !important;
    outline: none !important;
}

.bord-add {
    border-bottom: 1px solid #dfe2e8;
}

.btn-sbm {
    color: #fff;
    background-color: rgb(170,129,87);
    border-color: rgb(170,129,87);
}

.btn-add {
    color: #fff;
    background-color: rgb(86,86,89);
}

.btn-edit {
    font-size: 21px;
    padding-right: 5px;
}

#newsExists {
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}